<div class="main-banner Container __top">

    <div class="banner-text">
      <h2>
        <div class="static">ULTIMATE &nbsp; HUB &nbsp; FOR </div>
      </h2>
      <div class="auto-text">
        <h2><span class="dynamic-txt"></span></h2><br>
      </div>
      <h2>
        <div class="static">FOR YOU AT ONE PLACE.</div>
      </h2>

      <script>
        var typed = new Typed(".dynamic-txt", {
          strings: ['Games', 'Mods', 'Apks', 'Softwares'],
          typeSpeed: 180,
          backSpeed: 150,
          loop: true
        })
      </script>
    </div>
  </div>