<footer class="footer">
    <div class="foot">
      <div class="row">
        <div class="footer-col">
          <h4>About us</h4>
          <ul>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">Publish your app</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Get Help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">contact us</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">terms & conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Legal information</a></li>
            <li><a href="#">DMCA</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="                   "><i
                class="fab fa-facebook-f"></i></a>
            <a href="                   "><i
                class="fab fa-twitter"></i></a>
            <a href="                   "><i
                class="fab fa-instagram"></i></a>
            <a href="                   "><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>