
 <div class="sidebar" id="sidebar">
      <div class="sidebar-logo">
        <h2>SoftHub-Center</h2>
      </div>
      <div class="close-btn" id="close-btn">&times;</div>

      <section class="side-bar-main">

        <div class="side-bar-signin">
          <a href="signin/sign-in.html">
            <img src="main-assests/user.svg" alt>
            <div class="sign-in-text">
              <h3>Sign or Login</h3>
            </div>
          </a>
        </div>

        <div id="google_translate_element"></div>
        <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
          }
        </script>
        <script type="text/javascript"
          src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <div class="side-bar-content">

          <li class="content-list">
            <a href="#" class="sidebar-link">
              <!-- <img src="images/sidebar-img/bx-chat.svg" alt="Boxcoin Icon" class="icon"> -->
              <span class="list-name" style="font-size: 1.4rem;">Platform</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <div class="platform-content-list">

            <li class="platformss">
              <a href="platform/android/index.html"
                class="platform-sidebar-link">
                <img src="main-assests/images/sidebar-img/bxl-android.svg"
                  alt="Boxcoin Icon" class="platform-icon">
                <span class="platform-list-name">Android</span>

              </a>
            </li>

            <li class="platformss">
              <a href="platform/Apple/index.html" class="platform-sidebar-link">
                <img src="main-assests/images/sidebar-img/bxl-apple.svg"
                  alt="Boxcoin Icon" class="platform-icon"
                  width="35px" height="35px">
                <span class="platform-list-name">MacOS</span>

              </a>
            </li>
            <li class="platformss">
              <a href="platform/window/index.html"
                class="platform-sidebar-link">
                <img src="main-assests/images/sidebar-img/bxl-windows.svg"
                  alt="Boxcoin Icon" class="platform-icon">
                <span class="platform-list-name">Windows</span>

              </a>
            </li>
          </div>
          <hr>

          <li class="content-list">
            <a href="Categories/COMMUNICATION/index.html" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bx-chat.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name"> Communication</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="Categories/PDFEDITOR/index.html" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bx-chat.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name"> Pdf Editor</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="Categories/GAMES/index.html" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/game-solid-48.png"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Games</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="Categories/ANTIVIRUS/index.html" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bx-shield.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Anti Virus</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="https://chromewebstore.google.com/" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bxl-chrome.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Chrome Extension</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="#" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bxs-cog.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Utilities</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="#" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bx-video.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Video</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="#" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bx-music.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Music</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="#" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bx-book-content.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Navigation</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="#" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bxs-plane.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Tour & Travel</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

          <li class="content-list">
            <a href="#" class="sidebar-link">
              <img src="main-assests/images/sidebar-img/bxs-graduation.svg"
                alt="Boxcoin Icon" class="icon">
              <span class="list-name">Education</span>
              <div class="right-arrow-img">
                <img src="main-assests/card-img/right-arrow.svg" alt
                  width="30px" height="30px">
              </div>
            </a>
          </li>

        </div>

      </section>
    </div>

    <section class="home-section centered-zone" id="home-section">
      <nav class="nav-bar">
        <div class="hamburger">
          <i class="bx bx-menu" id="hamburger-btn"></i>
        </div>

        <div class="logo">
          <img src="/images/traillogo.png" alt>
        </div>

        <form action="/search/results" method="get">
        <div class="search">
        <div class="search-container">
        <input type="text" name="q" placeholder="Search..." required>
        <button type="submit"><i class="fa fa-search"></i></button>
        </div>
     </div>
     </form>
    

          <ul class="platform-logo">
            <li><a href><img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Windows_logo_-_2012.svg" alt="windows"
                  height="40" width="40"></a></li>
            <li><a href="platform/Apple/index.html" target="_blank"><img
                  src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Android_robot.svg" alt="MacOS"
                  height="40" width="40"></a></li>
            <li><a href="platform/android/index.html" target="_blank"><img
                  src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
                  alt="Android" height="40" width="40"></a></li>
          </ul>
        </div>
        <!-- <button id="dark-mode-toggle">dark mode </button> -->
        <div class="sign-in">
          <a href="signin/sign-in.html" target="_blank" class>
            <button class="signin-button">Sign In</button>
          </a>
        </div>
        <div class="open-search">
          <button type="button"><i class="fa fa-search"></i></button>
        </div>
      </nav>

      <nav class="secondary-nav">
        <div class="new-search-container">
          <div class="new-search-text-area">
            <input type="text" placeholder="New Search..."
              id="new-search-input">
          </div>
          <div id="new-search-icon">
            <button type="button"><i class="fa fa-search"></i></button>
          </div>
          <div id="new-close-search">
            <button type="button" id="close-search">cancel</button>
          </div>
        </div>
      </nav>

    